*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    margin: auto;
    display: flex;
    width: 60%;
    min-width: 350px;
    padding: 10px;
    flex-direction: column;
}
.form input{
    height: 20px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}
.form textarea{
    padding: 10px;
    font-size: 1.1rem;
}
.container{
    text-align: center;
}
.form button{
    height: 40px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}
.notes-section{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note{
    display: flex;
    width: 50%;
    min-width: 320px;
    /* display: inline-block; */
    padding: 15px;
    flex-direction: column;
    border-bottom-style: solid;
    border-radius: 20px;
    margin: 10px;
}
.note button{
    margin-top: 20px;
    height: 25px;
    width: 60px;
    cursor: pointer;
}
.update-form{
    margin: auto;
    display: none;
    width: 60%;
    padding: 20px;
    flex-direction: column;
}
.update-form input{
    height: 20px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}
.update-form textarea{
    padding: 10px;
    font-size: 1.1rem;
}
.update-form button{
    height: 25px;
    width: 100%;
    margin: 0;
}